<div class="row">
  
    <div class="col-8">
     
    
      <table class="table table-striped">
        <thead>
            <tr >
                <td><input  [(ngModel)]="clienteBuscar.nombre" type="text"/></td>
                <td><input  [(ngModel)]="clienteBuscar.telefono" type="text"/></td>
                <td><input  [(ngModel)]="clienteBuscar.direccion" type="text"/></td>
            </tr>
          <tr >
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Editar</th>
            <th>Borrar</th>
         </tr>
        </thead>
        <tbody>
        <tr *ngFor="let itemCliente of clienteLista | buscadorCliente:this.clienteBuscar; let i = index" [class.active]="i == selectedRow">
          <td>{{itemCliente.nombre}}</td>
          <td>{{itemCliente.telefono}}</td>
          <td>{{itemCliente.direccion}}</td>
          <td><button class="btn btn-primary" [routerLink]="['cliente',itemCliente._id]" (click)="elegirCliente(itemCliente,i)">Editar</button></td>
          <td><button class="btn btn-danger" (click)="borrarCliente(itemCliente)">Eliminar</button></td>
      
       </tr>
        </tbody>
      </table>
    
    </div>
    <div class="col-4">
        <button [routerLink]="['nuevo']" class="btn btn-primary" (click)="resetearForm()">Nuevo</button>
        

        <router-outlet></router-outlet>
          
          


       
     
      </div>
  </div>






