<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
        <alert></alert>
 <app-navbar></app-navbar>
    <router-outlet></router-outlet>

</div>
<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

        <!--Footer Links-->
        <div class="container text-center text-md-left">
            <div class="row">
    
                <!--First column-->
               
                <!--/.First column-->
    
                <hr class="clearfix w-100 d-md-none">
    
                <!--Second column-->
                
                <!--/.Second column-->
    
                <hr class="clearfix w-100 d-md-none">
    
                <!--Third column-->
              
                <!--/.Third column-->
    
                <hr class="clearfix w-100 d-md-none">
    
                <!--Fourth column-->
                
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer Links-->
    
        <hr>
    
        <!--Call to action-->
        <div class="text-center py-3">
            <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                    <h5 class="mb-1">Registrate Gratis</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#!" class="btn btn-danger btn-rounded">Registrar</a>
                </li>
            </ul>
        </div>
        <!--/.Call to action-->
    
        <hr>
    
        
        <!--/.Social buttons-->
    
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://github.com/rodrigg"> Alvaro Rodriguez </a>
        </div>
        <!--/.Copyright-->
    
    </footer>
    <!--/.Footer-->