/* You can add global styles to this file, and also import other style files */
.error{
    color: red;
   
}
#wrapper{
margin:2%;
}
body {
    background-color: lightblue;
}
body10 {
    background-color: lightbluelocal;
}